<section class ="posts">
    <div class="post_name">
        <h3>{{post.name}}</h3>
        <h5>{{post.postedBy}}</h5>
        <h5>{{post.postedOn}}</h5>
    </div>
    <div class="post_body">
        <p>{{post.body}}</p>
    </div>